# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.env
.env.local
.env.prod

# Virtual environments
viro/
env/
venv/
.venv/
viro/

# Django
*.log
db.sqlite3
media/
staticfiles/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Docker
docker-compose.override.yml

# Database
*.db
*.sqlite3

# Logs
logs/
*.log

# JWT Keys
jwt_keys/
*.pem
*.key